{% extends "layout.html.twig" %}

{% block title %}
	Ajouter un Groupe
{% endblock %}

{% block content %}
	<h1>Gérer les Groupes</h1>

	<div class="container">

		<form action="index.php?page=addGroupe" method="POST" class="encadre grande-margin-lr">
			<h3>Ajouter un Groupe</h3>

			<p style="color: red;">{{erreurAdd}}</p>
			<p>
				<label for="groupeLabel">Nom du groupe</label>
			</p>
			<p><input type="text" id="groupeLabel" name="groupeLabel"></p>

			<p>Utilisateurs dans le groupe :</p>


			{% for user in users %}
				<p>
					<input type="checkbox" name={{user.pseudo}} value="ajout">
					<label for={{user.pseudo}}>{{user.pseudo}}</label>
				</p>

			{% endfor %}

			<button type="submit" name="btnAddGroupe">Ajouter</button>
		</form>


		<form action="index.php?page=addGroupe" method="POST" class="encadre grande-margin-lr">
			<h3>Supprimer un Groupe</h3>
				
			<p style="color: red;">{{erreurDel}}</p>

			<p>
				<select name="delGroupe" id="delGroupe">
					{% for groupe in groupes %}
						<option name="{{groupe.label}}" id="{{groupe.label}}">{{groupe.label}}</option>
					{% endfor %}
				</select>

			</p>

			<button type="submit" name="btnDelGroupe">Supprimer</button>
			<!-- On va vouloir détecter quand on appuie-->
		</form>
	</div>
{% endblock %}
