{% extends "layout.html.twig" %}

{% block title %}
	Ajouter un Groupe
{% endblock %}

{% block content %}
	<h1>Gérer les Utilisateurs</h1>

	<div class="container">

		<form action="index.php?page=addUser" method="POST" class="encadre grande-margin-lr">
			<h3>Ajouter un Utilisateur</h3>

			<p style="color: red;">{{erreurAdd}}</p>

			<p>
				<label for="adduserPseudo">Pseudo :</label>
				<input type="text" name="adduserPseudo">
			</p>
			<p>
				<label for="adduserMdp">Mot de Passe :</label>
				<input type="text" name="adduserMdp">
			</p>

			<p>
				<label for="addisAdmin">Admin :</label>
				<input type="checkbox" name="addisAdmin" value="true">
			</p>

			<p>
				<label for="adduserGroupe">Groupe :</label>
				<select id="adduserGroupe" name="adduserGroupe">
					<option value="0">Pas de groupe</option>
					{% for groupe in groupes %}
						<option value="{{groupe.idgroupe}}">{{groupe.label}}</option>
					{% endfor %}
				</select>
			</p>

			<button type="submit" name="btnAddUser">Ajouter</button>
		</form>


		<form action="index.php?page=addUser" method="POST" class="encadre grande-margin-lr">
			<h3>Supprimer un Utilisateur</h3>

			<p style="color: red;">{{erreurDel}}</p>

			<p>
				<select name="delUser" id="delUser">
					{% for user in users %}
						<option name="{{user.pseudo}}" id="{{user.pseudo}}">{{user.pseudo}}</option>
					{% endfor %}
				</select>
			</p>

			<button type="submit" name="btnDelUser">Supprimer</button>
			<!-- On va vouloir détecter quand on appuie-->
		</form>

		<div class="encadre">
			<h2>Liste des Utilisateurs :</h2>

			{% for user in users %}
				<p>
					Utilisateur n°
					{{user.id}},
					{{user.pseudo}},
					{% if user.isAdmin == "1" %}
						est administrateur,
					{% endif %}

					Groupes :

					{% set nbGroupes = 0 %}
					{% for groupe in groupes %}
						{% if not break %}
							{% for groupeUser in user.groupe %}

								{% if groupe.idgroupe == groupeUser %}
									{% if nbGroupes == 0 %}
										{{groupe.label}}
										{% set nbGroupes = nbGroupes + 1 %}
									{% else %}
										,
										{{groupe.label}}
										{% set nbGroupes = nbGroupes + 1 %}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
					{% if nbGroupes == 0 %}
						pas de groupe
					{% endif %}

				</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
