{% extends "layout.html.twig" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container">
    <h2>
        Nous Contacter
    </h2>

    <div>
        <p>0637307730</p>
        <p>clement.parisot@epsi.fr</p>
    </div>

    <form class="card">
        <div class="mb-3 px-5">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3 px-5">
          <label for="exampleInputPassword1" class="form-label">Your Message</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>


{% endblock %}