{% extends "layout.html.twig" %}

{% block title %}Deconnexion{% endblock %}

{% block content %}
<div class="container">
    <h1>
        Deconnexion en cours...
    </h1>
</div>

<?php
    session_destroy();
?>
{% endblock %}