{% extends "layout.html.twig" %}

{% block title %}
	Page Supprimer
{% endblock %}

{% block content %}
	<h1>Supprimer une boite de rendu</h1>
	<div class="encadre grande-margin-lr">
		<form
			action="index.php?page=delRendu" method="POST">
			<!-- je veux que tu ailles sur ma route addProduct en méthode POST => utilisation de la variable globale $_POST-->
			<h2>Choisir une boite de rendu à supprimer :</h2>
			<div>
				<select name="sup" size="1">
					{% for delRendu in delRendus %}
						{% if username == delRendu.prof %}
							<option value={{ delRendu.idboiterendu }}>{{ delRendu.label }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<div align="center">
				<button type="submit" class="btn btn-primary" name="btnDelRendu">
					<a onclick="return confirmer();">Supprimer un rendu</a>
				</button>
			</div>
		</form>
	</div>
{% endblock %}
