{% extends "layout.html.twig" %}

{% block title %}
	Bienvenue sur votre espace de rendu !
{% endblock %}

{% block content %}
	<div class="container">
		<div class="tout">
			<div>
				<h1 class="page-titre">Bienvenue
					{{username}}
					sur votre espace de rendu</h1>
					
				
				<div id="dateheure"></div>

				<h2>Les boites de rendu Ouvertes</h2>

					{% if erreur != "" %}
						<p class="erreur-message">{{erreur}}</p>
					{% endif %}
					
					
				<div class="deux-colonnes">
					{% if rendueleveouvert is empty %}
							<p>Aucune Boite de rendu Ouverte pour l'instant</p>
					{% else %}
					{% for rendu in rendueleveouvert %}
						<div class="encadre">
							<h4>
								{{ rendu.label }}
							</h4>
							<p>
								Description du devoir : {{ rendu.description }}
							</p>
							<p>
								Nom du Professeur : {{ rendu.prof }}
							</p>
							<p>
								Date de début : {{ rendu.datecreation | date("d-m-Y H:i:s")}}
							</p>
							<p>
								Date de fin : {{ rendu.dateline | date("d-m-Y H:i:s")}}
							</p>
							<ul>
								{% for fichier in fichiersrendus %}
									{% if rendu.idboiterendu == fichier.idboiterendu %}
										<li> {{fichier.nom_fichier}} <button type="submit" value="submitSupprimerFichier" form="{{fichier.iddevoir}}">X</button></li>
										<form enctype="multipart/form-data" method="post" id="{{fichier.iddevoir}}">
										<input type="hidden" value="{{fichier.iddevoir}}" name="supprimerFichierID"/>
										<input type="hidden" value="{{fichier.chemin_fichier}}" name="supprimerFichierCHEMIN"/>
										
										</form>
									{% endif %}
								{% endfor %}
							</ul>
							<form enctype="multipart/form-data" method="post" id="{{rendu.idboiterendu}}">
							<input type="hidden" name="idboiterendu" id="selectionneur" value="{{rendu.idboiterendu}}"/>
							<input type="file" 	name="fichier{{rendu.idboiterendu}}"/>
							</form>
							<button type="submit" value="submitAjouterFichier" form="{{rendu.idboiterendu}}">Envoyer le fichier</button>
						</div>
						{% endfor %}
					{% endif %}
				</div>
				<h2>Les boites de rendu Fermées</h2>
				<div class="deux-colonnes">
				{% if rendueleveferme is empty %}
					<p>Aucune Boite de rendu Fermée pour l'instant</p>
				{% else %}
					{% for rendu in rendueleveferme %}
						
						<div class="encadre">
							<h4>
								{{ rendu.label }}
							</h4>
							<p>
								Description du devoir : {{ rendu.description }}
							</p>
							<p>
								Nom du Professeur : {{ rendu.prof}}
							</p>
							<p>
								Date de début : {{ rendu.datecreation | date("d-m-Y H:i:s")}}
							</p>
							<p>
								Date de fin : {{ rendu.dateline | date("d-m-Y H:i:s")}}
							</p>
							<p>
								Les fichiers rendus :
							</p>
							<ul>
							{% for fichier in fichiersrendus %}
                                {% if rendu.idboiterendu == fichier.idboiterendu %}
                                    <li> {{fichier.nom_fichier}} </li>
                                {% endif %}
                            {% endfor %}
							</ul>
						</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
