{% extends "layout.html.twig" %}

{% block title %}
	Bienvenue sur votre espace de rendu !
{% endblock %}

{% block content %}
	<div class="container">
		<div class="tout">
			<h1>Bienvenue
				{{username}}
				sur votre espace administrateur</h1>

			<div id="dateheure"></div>

			<div class="encadre liens-decores hover-lien-change-background">
				<a href="/" class="">Replier l'arborescence</a>
				<ol style="list-style-type: '';">

					{% for classe in listeclasses %}
						<li>
							<a href="?idparentclasse={{ classe.idgroupe }}" name="classe">
								{{ classe.label }}</a>
						</li>
						{% for boiterendu in boiterendus %}
							<ol style="list-style: url('img/chemin5.1.png');">
								
								{% if classe.idgroupe == boiterendu.idgroupe %}
									{% if username == boiterendu.prof %}
										{% if boiterendu.estOuvert == 0 %}
										<li>
											<a name="boiterendu" href="?idparentclasse={{ classe.idgroupe }}&idparentboiterendu={{ boiterendu.idboiterendu }}">
												FERMEE {{ boiterendu.label }}</a>
										</li>
										{% else %}
										<li>
											<a name="boiterendu" href="?idparentclasse={{ classe.idgroupe }}&idparentboiterendu={{ boiterendu.idboiterendu }}">
												{{ boiterendu.label }} </a>
											<a style="background-color:white; width:50px" href="?page=updRendu&id={{  boiterendu.idboiterendu }}"><img width="13px" src="img\modif.png" alt="update"></a>
										</li>
										{% endif %}
										{% for user in listeusers %}
											<ol style="list-style: url('img/chemin5.1.png');">
												{% if boiterendu.idboiterendu == user.idboiterendu %}
													<li>
														<a href='?idparentclasse={{ classe.idgroupe }}&idparentboiterendu={{ boiterendu.idboiterendu }}&idparentuser={{ user.id }}' name="user">
															{{ user.pseudo }}
														</a>
													</li>
												{% endif %}
											</ol>
											{% set displaytelechargement = false %}
											{% for devoir in listedevoirs %}
												<ol style="list-style: url('img/chemin5.1.png');">
													{% if boiterendu.idboiterendu == devoir.idboiterendu %}
														{% if devoir.iduser == user.id %}
															{% if displaytelechargement == false %}		
															<ol style="list-style: url('img/chemin5.1.png');">
																<a href='?idparentclasse={{ classe.idgroupe }}&idparentboiterendu={{ boiterendu.idboiterendu }}&idparentuser={{ user.id }}&iddevoir=-1' name="devoir">
																Télécharger tous les fichiers
																</a>
																{% set displaytelechargement = true %}
															</ol>
															{% endif %}
														<ol style="list-style: url('img/chemin5.1.png');">
															<li>
																<a href='?idparentclasse={{ classe.idgroupe }}&idparentboiterendu={{ boiterendu.idboiterendu }}&idparentuser={{ user.id }}&iddevoir={{ devoir.iddevoir }}' name="devoir">
																	{{ devoir.nom_fichier }}
																</a>
															</li>
														</ol>
														{% endif %}
													{% endif %}
												</ol>
												
											{% endfor %}
										{% endfor %}
									{% endif %}
								{% endif %}
							</ol>
						{% endfor %}
					{% endfor %}
				</ol>

			</div>

			<div class="deux-colonnes double-lien hover-lien-change-background">
				<a href="?page=addRendu">Ajouter une boite de rendu</a>
				<a href="?page=delRendu">Supprimer une boite de rendu</a>
			</div>

			<div class="deux-colonnes double-lien hover-lien-change-background">
				<a href="?page=addGroupe">Gérer les groupes</a>
				<a href="?page=addUser">Gérer les Utilisateurs</a>
			</div>
		</div>
	</div>
{% endblock %}
