<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Boite de rendu -
			{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" href="css/stylepage.css">
		<link rel="icon" type="image/png" href="img/EPSIicone.png" />
		<script src="js/confirmation.js"></script>
	</head>
	<body class="container">
		<header class="header-all">
			<div class="header_navbar">
				<div class="header_navbar-logo">
					<img src="img/epsi.png" alt="EPSI" width="100" height="37">
					<img src="img/wis.png" alt="WIS" width="100" height="37">
				</div>

				<div></div>

				<nav class="header_navbar-menu">
					<menu class="top-menu">
						<li>
							<a class="header-link" href="?page=home">Home</a>
						</li>
						<li>
							<a class="header-link" href="?page=profil">Profil</a>
						</li>
						<li>
							<a class="header-link" href="?page=reglageAide">Réglages/Aide</a>
						</li>
						<li>
							<a class="header-link" href="?page=deconnexion&deconnexion=1">Déconnexion</a>
						</li>
					</menu>

					<!---
					<ul>
						<li>
							<img src="../public/img/utilisateur.png" alt="mdo" width="40" height="40">

							<ul class="sous">
								<li>
									<a class="header-link" href="?page=profil">Profil</a>
								</li>
								<li>
									<a class="header-link" href="#">Réglages</a>
								</li>
								<li>
									<a class="header-link" href="?page=deconnexion&deconnexion=1">Déconnexion</a>
								</li>
							</ul>
						</li>
					</ul>-->
					
				</nav>
			</div>
		</header>

		
		
		<div class="contenu"> 
			<div class="cote"></div>
			<div>{% block content %}{% endblock %}</div>
			<div class="cote"></div>
		</div>
		

		<footer>
			<div class="footer-inside">
				<p>Copyright (C) - 2022/2023 - SN1 EPSI ARRAS - All rights reserved. - <a href="?page=mentionsLegales" style="text-decoration: none; color:black;">Mentions Légales</a> - <a style="text-decoration: none; color:black;" href="?page=politiqueconfidentialite">Politique de confidentialité</a></p>
			</div>
		</footer>
	</body>
</html>
