<!DOCTYPE html>
<html lang="fr">
<head>      
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boite de rendu - Mot de passe Oublié</title>
    <link rel="stylesheet" href="css/stylepage.css">
	<link rel="icon" type="image/png" href="img/EPSIicone.png" />
</head>
<body class="page-connexion">
	<div id="container">		
		<form action="?page=mdpOublie" method="POST">
			<div class="" style="grid-template-columns: 1fr 1fr;">
				<div class="deux-colonnes">
					<img src="img/epsi.png" alt="epsi">
					<img src="img/wis.png" alt="wis">
				</div>
				<div class="">
					<h1>Mot de passe Oublié</h1>
				</div>
			</div>
			{% if passwdError == true %}
				<p style="color: red">Erreur dans la saisie</p>
			{% endif %}
			<div class="inputs">
				<label for="username"><b>Nom</b></label>
				<input type="username" placeholder="Nom" id="username" name="username" required>
				<label for="newpassword"><b>Nouveau mot de passe</b></label>
				<input type="password" placeholder="Entrer le nouveau mot de passe" id="newpassword" name="newpassword" required>
				<label for="confnewpassword"><b>Confirmez le nouveau mot de passe</b></label>
				<input type="password" placeholder="Confirmer le nouveau mot de passe" id="confnewpassword" name="confnewpassword" required>
			</div>	
			<button type="submit" name='modifier' >Modifier mon mot de passe</button>		
		</form>
	</div>    
</body>
</html>