{% extends "layout.html.twig" %}

{% block title %}Mentions Legales{% endblock %}

{% block content %}
<div class="tout">

<h1>Mentions Légales</h1>
<div class="encadre">
    <h3>1 - Édition du site</h3>
    <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet <a href="http://localhost:8000/">Boite de rendu EPSI WIS</a> l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
        <li>Propriétaire du site : Clément Parisot </li>
        <li>Contact : clement.parisot@epsi.fr 0637307730 </li>
        <li>Adresse : 38 Route de Bapaume 62217 ACHICOURT </li>
        <li>Identification de l'entreprise : SARL Clément Parisot au capital social de 999999999€ </li>
        <li>SIREN : - RCS ou RM : - </li>
        <li>Adresse postale : 38 Route de Bapaume 62217 ACHICOURT</li> 
        <li>Directeur de la publication : - Contact : .</li>
        <li>Hébergeur : AutreEPSI </li>
        <li>Délégué à la protection des données : </li>
        <li>Autres contributeurs : Antoine, Mélanie, Emilie</li></p>

    <h3>2 - Propriété intellectuelle et contrefaçons.</h3>
    <p>Clément Parisot est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous
        les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos,
        architecture, icônes et sons.
        Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du
        site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Clément
        Parisot.
        Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme
        constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du
        Code de Propriété Intellectuelle.</p>

    <h3>3 - Limitations de responsabilité.</h3>
    <p>Clément Parisot ne pourra être tenu pour responsable des dommages directs et indirects causés au matériel de
        l’utilisateur, lors de l’accès au site <a href="http://localhost:8000/">Boite de rendu EPSI WIS</a>.
        Clément Parisot décline toute responsabilité quant à l’utilisation qui pourrait être faite des informations et
        contenus présents sur <a href="http://localhost:8000/">Boite de rendu EPSI WIS</a>.
        Clément Parisot s’engage à sécuriser au mieux le site <a href="http://localhost:8000/">Boite de rendu EPSI WIS</a>, cependant sa
        responsabilité ne pourra être mise en cause si des données indésirables sont importées et installées sur son
        site à son insu.
        Des espaces interactifs (espace contact ou commentaires) sont à la disposition des utilisateurs. Clément Parisot
        se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui
        contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection
        des données.
        Le cas échéant, Clément Parisot se réserve également la possibilité de mettre en cause la responsabilité civile
        et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou
        pornographique, quel que soit le support utilisé (texte, photographie …).</p>

    <h3>4 - CNIL et gestion des données personnelles.</h3>
<p>Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’utilisateur du site <a href="http://localhost:8000/">Boite de rendu EPSI WIS</a> dispose d’un droit d’accès, de modification et de suppression des informations collectées. Pour exercer ce droit, envoyez un message à notre Délégué à la Protection des Données : Clément Parisot .
    Pour plus d'informations sur la façon dont nous traitons vos données (type de données, finalité, destinataire...), lisez notre <a href="http://localhost:8000/?page=politiqueconfidentialite">page de politique de Confidentialité</a>.</p>

    <h3>5 - Liens hypertextes et cookies</h3>
    <p>Le site <a href="http://localhost:8000/">Boite de rendu EPSI WIS</a> contient des liens hypertextes vers d’autres sites et dégage toute responsabilité à propos de ces liens externes ou des liens créés par d’autres sites vers <a href="http://localhost:8000/">Boite de rendu EPSI WIS</a>.
        La navigation sur le site <a href="http://localhost:8000/">Boite de rendu EPSI WIS</a> est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur.
        Un "cookie" est un fichier de petite taille qui enregistre des informations relatives à la navigation d’un utilisateur sur un site. Les données ainsi obtenues permettent d'obtenir des mesures de fréquentation, par exemple.
        Vous avez la possibilité d’accepter ou de refuser les cookies en modifiant les paramètres de votre navigateur. Aucun cookie ne sera déposé sans votre consentement.        
        Les cookies sont enregistrés pour une durée maximale de mois.
        Pour plus d'informations sur la façon dont nous faisons usage des cookies, lisez notre <a href="http://localhost:8000/?page=politiqueconfidentialite">page de politique de Confidentialité</a>.</p>

    <h3>6 - Droit applicable et attribution de juridiction.</h3>
    <p>Tout litige en relation avec l’utilisation du site <a href="http://localhost:8000/">Boite de rendu EPSI WIS</a> est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Eclassan.</p>

</div>
</div>
{% endblock %}