<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Boite de rendu - Authentification</title>
		<link rel="stylesheet" href="css/stylepage.css">
		<link rel="icon" type="image/png" href="img/EPSIicone.png" />
	</head>

	<body class="page-connexion">
		<div>
			<!-- zone de connexion -->

			<form action="?page=pageConnection" method="POST" class="">

				<div class="" style="grid-template-columns: 1fr 1fr;">
					<div class="deux-colonnes">
						<img src="img/epsi.png" alt="epsi">
						<img src="img/wis.png" alt="wis">
					</div>
					<div class="">
						<h1>Se Connecter</h1>
					</div>
				</div>

				{% if mdpError == true %}
					<p style="color: red">Pas le bon mot de passe</p>
				{% endif %}
				{% if userError == true %}
					<p style="color: red">Pas de compte avec ce nom d'utilisateur</p>
				{% endif %}

				<div class="inputs">
					<label for="username">
						<b>Nom d'utilisateur</b>
					</label>
					<!--créer une interaction pour le  email et ajouter la donnée mail -->
					<input type="username" placeholder="Entrer le nom d'utilisateur" id="username" name="username">

					<label for="password">
						<b>Mot de passe</b>
					</label>
					<!--créer une interaction pour le password  et ajouter la donnée password -->
					<input type="password" placeholder="Entrer le mot de passe" id="password" name="password">
				</div>

				<!--créer un bouton pour se connecter-->
				<button type='submit' name='submit'>Se connecter</button>
				<button name='mdp'>Mot de passe Oublié</button>
			</form>
		</div>
	</body>
</html>
