{% extends "layout.html.twig" %}

{% block title %}Profil
{% endblock %}

{% block content %}
<div class="container">
	<div class="tout">
		<h1>Bienvenue sur ton profil {{ username }} </h1>
		<div class="encadre">
			<p>Votre nom : {{ username }}</p>
			<p>Votre groupe : 
			
				{% set nbGroupes = 0 %}
				{% for groupe in groupes %}
					{% if not break %}
						{% for groupeUser in userGroupes %}

							{% if groupe.idgroupe == groupeUser %}
								{% if nbGroupes == 0 %}
									{{groupe.label}}
									{% set nbGroupes = nbGroupes + 1 %}
								{% else %}
									,
									{{groupe.label}}
									{% set nbGroupes = nbGroupes + 1 %}
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
				{% if nbGroupes == 0 %}
					pas de groupe
				{% endif %}

			</p>
		</div>

		<h1>Edition du profil</h1>

		<div class="deux-colonnes">
			<form action="?page=profil" method="POST" class="encadre">
				<h2>Modification du mot de passe</h2>
				{% if saisiePasswd == true %}
					<p style="color: red">Erreur dans le mot de passe</p>
				{% endif %}
				<p>
					<label for="actupassword">Mot de passe actuel</label>
					<p><input type="password" placeholder="Mot de passe actuel" name="actupassword"></p>
				</p>
				<p>
					<label for="newpassword">Nouveau mot de passe</label>
					<p><input type="password" placeholder="Entrer le nouveau mot de passe" id="newpassword" name="newpassword" required></p>
				</p>
				<p>
					<label for="confnewpassword">Confirmez le nouveau mot de passe</label>
					<p><input type="password" placeholder="Confirmer le nouveau mot de passe" id="confnewpassword" name="confnewpassword" required></p>
				</p>
				<button type="submit" name='modifiermdp'>Mettre à jour le mot de passe</button>
			</form>

			<div class="encadre">
				<h2>Modification de l'avatar</h2>
				<img src="" alt=""><p>*image de profil*</p>
					<label>Avatar :</label>
					<input type="file" name="avatar"/>
			</div>
		</div>
	</div>
</div>

{% endblock %}
