{% extends "layout.html.twig" %}

{% block title %}
    Bienvenue sur votre espace de rendu !
{% endblock %}

{% block content %}
<div class="tout">
  <h1>Aide</h1>
  <div class="encadre">

    {% if isAdmin == true %}
    <h2>Fonctionnement de l'arborescence</h2>
    <p>Groupe > Boite de rendu > Utilisateurs > Fichiers rendus par cette utilisateur</p>

    <h2>Ajouter une boite de rendu</h2>
    <p>Pour ajouter une boite de rendu, il faut cliquer sur le bouton "Ajouter un rendu". Après cela, il vous suffit de remplir les différentes cases d'informations (libellé, description, groupe, date de création, dateline) puis il vous suffira d'appuyer sur le bouton "Ajouter".</p>
    
    <h2>Supprimer une boite de rendu</h2>
    <p>Pour supprimer une boite de rendu, il faut cliquer sur le bouton "Supprimer un rendu". Après cela, il vous suffit de sélectionner dans la liste déroulante le rendu que vous souhaitez supprimer, avant de cliquer sur le bouton "Supprimer". A la suite de cela, vous devrez confirmer deux de suite la suppression.</p>

    <h2>Modifier une boite de rendu</h2>
    <p>Pour modifier les informations d'une boite de rendu, il faut cliquer sur le petit icône "Modifier" à côté du nom de la boite de rendu que vous souhaitez modifier. Vous verrez redirigé vers la page de modification avec les champs déjà remplis avec les informations actuelles de la boite de rendu. </p>
    
    <h2>Récuperer des fichiers depuis une boite de rendu</h2>
    <p>Naviguer jusqu'à un dossier utilisateur dans l'arborescence (Exemple : SN1 > Français > CParisot > Dissertation.pdf)
    puis cliquer sur un fichier pour le télécharger ou cliquer sur 'Télécharger tous les fichiers' pour télécharger tous les fichiers dans un dossier ZIP.</p>
    {% endif %}


    {% if isAdmin == false %}
    <h2>Ajouter un devoir dans une boite de rendu</h2>
    <p>Pour ajouter un devoir dans une boite de rendu : Il faut appuyer sur le bouton 'Parcourir' pour sélectionner un fichier dans son ordinateur, le fichier peut être un fichier PowerPoint, un fichier PDF ou un Fichier ZIP. Pour terminer l'envoi, il faut appuyer sur le bouton 'Envoyer le fichier'.</p>

    <h2>Supprimer un devoir dans une boite de rendu</h2>
    <p>Pour supprimer un devoir dans une boite de rendu, il faut dans l'encadré de la bonne boite de rendu cliquer sur la croix à côté du fichier que l'on souhaite supprimer.</p>
    
    {% endif %}
  </div>
</div>
{% endblock %}