{% extends "layout.html.twig" %}

{% block title %}
	Page Modifier
{% endblock %}

{% block content %}
	<h1>Modifier un boite de rendu</h1>

	<div class="container">
		<form
			action="index.php?page=updRendu&id={{  OneBoiteRendu.idboiterendu }}" method="POST" class="encadre grande-margin-lr">
			<!-- je veux que tu ailles sur ma route addProduct en méthode POST => utilisation de la variable globale $_POST-->
			<p>
				<label for="renduLabel" class="form-label">Libellé</label>
			</p>
			<p><textarea type="text" class="form-control" id="renduLabel" name="renduLabel">{{ OneBoiteRendu.label }}</textarea></p>
			<p>
				<label for="renduDescription" class="form-label">Description</label>
			</p>
			<p>
				<textarea class="form-control" id="renduDescription" name="renduDescription" rows="3">{{ OneBoiteRendu.description }}</textarea>
			</p>
			<!-- celui qui va nous permettre d'identifier et de recuperer la valeur-->
			<p>
				<label for="renduGroupe" class="form-label">Groupe</label>
			</p>
			<p>
				<select class="form-select" id="renduGroupe" name="renduGroupe"></p>
				<option value="">Saisir le groupe</option>

				{% for groupe in groupes %}
				    {% if groupe.idgroupe == OneBoiteRendu.idgroupe %}
						<option value="{{groupe.idgroupe}}" selected> {{ groupe.label }}</option>
                  	{% else %}
						<option value="{{groupe.idgroupe}}">{{ groupe.label }}</option>
                  	{% endif %}
				{% endfor %}
				</select>
				</p>
			<p>
				<label for="meeting-time">Date de début :</label>
			</p>
			<p><input type="datetime-local" id="meeting-time" name="trip-start" value="{{ OneBoiteRendu.datecreation }}"></p>
			<p>
				<label for="meeting-time">Date de fin :</label>
			</p>
			<p><input type="datetime-local" id="meeting-time" name="trip-end" value="{{ OneBoiteRendu.dateline }}"></p>
			
			<!--<input type="hidden" name="prof" value="1">-->
			
			<button type="submit" class="btn btn-primary" name="btnUpdRendu">Modifier</button>
			<!-- On va vouloir détecter quand on appuie-->
		</form>
</div>{% endblock %}
