:root {
    --couleur-generale1: 37;
    --couleur-generale2: 190;

    --couleur-tclaire: hsl(var(--couleur-generale1), 90%, 95%);
    --couleur-claire: hsl(var(--couleur-generale1), 90%, 85%);
    --couleur-normale: hsl(var(--couleur-generale1), 70%, 70%);
    --couleur-normale-moins: hsl(var(--couleur-generale2), 30%, 60%);
    --couleur-sombre: hsl(var(--couleur-generale2), 50%, 10%);
    --couleur-sombre-plus: hsl(var(--couleur-generale2), 60%, 50%);
}

html,
body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    position: relative;
    padding-bottom: 70px;
}

.header-all {
    background-color: var(--couleur-tclaire);
    height: 70px;
}

.header_navbar {
    width: 100%;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
}

.header_navbar-logo {
    display: flex;
    justify-content: center;
}

.header_navbar-logo img {
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: var(--couleur-claire);
    ;
    border-radius: 10px;
}

.header_navbar-menu {
    display: block;
    position: relative;
    list-style-type: none;
    height: 100px;
}

/*CONTENU ET FOOTER---------------------------------------------------*/

.contenu {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    height: 100%;
}

.cote {
    background-color: var(--couleur-normale-moins);
}

.footer-inside {
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: var(--couleur-sombre-plus);
    border-top: 1px solid var(--couleur-sombre);
    text-align: center;
}

.tout {
    /*padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;*/
    padding: 1%;
}

h1 {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

h2 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.page-titre {
    text-align: center;
    background-color: var(--couleur-claire);
    border-radius: 10px;
}

.erreur-message {
    color: black;
    background-color: rgb(248, 73, 73);
    border: 2px solid rgb(146, 13, 13);
    border-radius: 20px;
    padding: 10px;
}


/*Top menu------------------------------------------------------- */

.top-menu {
    margin: 10px;
}

.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.top-menu li {
    float: left;
    list-style-type: none;

}

.top-menu li a {
    display: block;
    background-color: var(--couleur-claire);
    margin-right: 20px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

.top-menu li a:hover {
    background-color: #FFFFFF;
}


/*POUR LE LAYOUT GENERAL ----------------------------------------------*/

.encadre {
    margin: 50px;
    border: 3px solid black;
    border-radius: 50px;
    padding: 50px;
}

.deux-colonnes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lien-decore {
    display: block;
    background-color: var(--couleur-normale);
    color: black;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
}

.liens-decores a {
    display: inline-block;
    background-color: var(--couleur-normale);
    color: black;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

.double-lien a {
    margin: 10px;
    text-align: center;
    display: block;
    background-color: var(--couleur-claire);
    color: black;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
}

.hover-lien-change-background a:hover {
    background-color: aliceblue;
}

.grande-margin-lr {
    margin-left: 200px;
    margin-right: 200px;
}





/*Page connexion*/

.page-connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.page-connexion form {
    background-color: var(--couleur-claire);
    ;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 800px;
}

.page-connexion .inputs {
    display: flex;
    flex-direction: column;
}

.page-connexion .inputs input[type='username'],
input[type='password'] {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
    margin-bottom: 15px;
}

.page-connexion img {
    max-width: 80%;
    max-height: 80%;
}

.page-connexion button {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: black;
    background-color: #f2f2f2;
    outline: none;
    cursor: pointer;
}

.page-connexion h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page-connexion b {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page-connexion button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/*PLUS UTILISE----------------------------------------------------- */

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav>ul li:hover .sous {
    display: block;
}


.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    background-color: RGBa(200, 200, 200, 0.1);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: right;
    width: 25%;
    text-align: center;
    position: relative;
}

nav a {
    display: block;
    text-decoration: none;
    color: rgb(24, 114, 62);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}